.bAxvyt {
  margin: 8px 0px;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  margin-left: 40%;
  color: rgb(23, 25, 36);
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.grSGYV {
  box-sizing: border-box;
  margin: 0px 0px 16px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  margin-top: 1 rem;
  height: 30%;
}

.fYbKeE {
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  border-radius: 16px;
  display: flex;
  height: 30%;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid rgb(239, 242, 245);
}

.gzsCUI {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  padding: 20px 24px;
  background-color: rgb(248, 250, 253);
  -webkit-box-align: center;
  align-items: center;
}

.jBYVsP {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  padding: 20px 24px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
}

.fMHov {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-right: 12px;
}

.kjciSH {
  box-sizing: border-box;
  margin: 0px;
}

.XRFWY {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: rgb(207, 214, 228);
}

.fYbKeE > img {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.kjciSH {
  box-sizing: border-box;
  margin: 20px;
}

section {
  display: block;
}

div {
  display: block;
}

.iQGGZq {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: rgb(23, 25, 36);
}

.fVBBJq input {
  box-shadow: none;
  border: none;
  background: none;
}

.hHOIKq {
  padding: 10px 0px;
  background: transparent;
  caret-color: rgb(56, 97, 251);
  border: none;
  font-size: 18px;
  text-align: right;
  appearance: none;
  color: rgb(207, 214, 228);
  font-weight: 700;
  font-family: Inter, sans-serif;
  width: 100%;
}

.gzsCUI {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  padding: 20px 24px;
  background-color: rgb(248, 250, 253);
  -webkit-box-align: center;
  align-items: center;
}

.jBYVsP {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  padding: 20px 24px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
}

.fYbKeE {
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid rgb(239, 242, 245);
 height: 6rem;
 width: 70%;
 margin-left: 15%;
 margin-top: 3rem;
}

.reverseStyle {
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border: 1px solid rgb(239, 242, 245);
  height: 6rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 3rem;
}

.img {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.reverse {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fVBBJq input {
  outline: none;
  border: none;
}
